.navbar-header {
    padding-left: 125px
}

.navbar-cog {
	padding-right: 125px;
}

.tab-container {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}

.table-container {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}

.form-group-inputs {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.list-group{
	width:  600px;
	margin-left: auto;
	margin-right: auto;
}

.table-container tr td{
	height: 55px;
}

tr:hover .btn-group {
	display: inline;
}

.veggie-pic img {
	text-align: center;
}

.btn-group {
	display: none;
}


