
.navbar {
        padding-left:210px;
        padding-right:210px;
        margin-right: auto;
        margin-left:auto;
}

.container{
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}

.veggie-pic img {
	text-align: center;
}