// Theme Variables
@darkPrimaryColor:   #616161;
@primaryColor:       #E0E0E0;
@lightPrimaryColor:  #F5F5F5;
@textPrimaryColor:   #212121;
@accentColor:        #4CAF50;
@primaryTextColor:   #212121;;
@secondaryTextColor: #757575;
@dividerColor:       #BDBDBD;

.jumbotron {
	text-align: center;
	padding: 2%;
}

.panel.panel-default {
	margin-right: 50%;
}

.panel-heading {
	background-color: @accentColor;
	color: white;
}

.flexer {
	display: flex;
}