<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Search</a></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Add(add dropdown tag here)</a></li>
      <li><a href="#">Calendar</a></li>
      <li><a href="#"><i class="material-icons">settings</i></a></li>
    </ul>
  </div>
</nav>
