// Theme Variables
@darkPrimaryColor:   #616161;
@primaryColor:       #E0E0E0;
@lightPrimaryColor:  #F5F5F5;
@textPrimaryColor:   #212121;
@accentColor:        #4CAF50;
@primaryTextColor:   #212121;;
@secondaryTextColor: #757575;
@dividerColor:       #BDBDBD;


li a:hover:not(.active) {
    background-color: lighten(@accentColor, 15);
    color: white;
}

.navbar-nav .active {
    background-color: @accentColor;
    color: white;
}

.navbar {
    background: @primaryColor;
    color: @primaryTextColor;
}
.navbar-brand {
  padding: 0px;
}

.navbar-brand > img {
  height: 100%;
  padding: 7px;
  width: auto;
}

.navbar-header{
  margin-left: 7%;
}

.navbar-right{
  margin-right: 7%;
}

.form-group {
  padding-top: 4%;
  padding-left: 2%;
  padding-right: 3%;
}